html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  outline: none;
}

html, body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 1160px;
  min-width: 280px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  min-width: 280px;
  max-width: 1520px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container-full-width {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  float: none;
  clear: both;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

[class*="col-"] {
  float: left;
  margin: 0 1.667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 4.99933%;
}

.col-2 {
  width: 13.33267%;
}

.col-3 {
  width: 21.666%;
}

.col-4 {
  width: 29.99933%;
}

.col-5 {
  width: 38.33267%;
}

.col-6 {
  width: 46.666%;
}

.col-7 {
  width: 54.99933%;
}

.col-8 {
  width: 63.33267%;
}

.col-9 {
  width: 71.666%;
}

.col-10 {
  width: 79.99933%;
}

.col-11 {
  width: 88.33267%;
}

.col-12 {
  width: 96.666%;
}

.l-offset-1 {
  margin-left: 10.00033%;
}

.l-offset-2 {
  margin-left: 18.33367%;
}

.l-offset-3 {
  margin-left: 26.667%;
}

.r-offset-1 {
  margin-right: 10.00033%;
}

.r-offset-2 {
  margin-right: 18.33367%;
}

.r-offset-3 {
  margin-right: 26.667%;
}

.col--centered {
  margin: 0 auto;
  float: none;
  clear: both;
}

body {
  background: #ffffff;
  font-family: "OpenSansRegular", arial, verdana;
  font-size: 14px;
  color: #333333;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.wrapper span {
  color: red;
}

main {
  display: block;
  padding-bottom: 220px;
}

footer {
  margin-top: -220px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

input[type="submit"] {
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
